
#TopNavM li {
    width:100%;
    display:inline-block;
} 

#TopNavM {
    margin-top: 10px;
    /*height: 600px;*/
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(skyblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(skyblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(skyblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(skyblue, white); /* Standard syntax */
}

    #TopNavM ul {
        list-style: none;
         float: left;
        margin: 0;
        padding: 0;
    }

        #TopNavM ul a {
            display: inline;
            color: #333;
            text-decoration: none;
            font-weight: 400;
            font-size: 12px;
            line-height: 25px;
            padding: 5px 15px; 
            font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        #TopNavM ul li ul li a:hover {
            text-decoration: underline;
            /*border:1px solid lightblue;*/
        }

        #TopNavM ul li {
            /*position: relative;*/
            float: left;
            margin: 0;
            padding: 0;
            display: block;
            width: 99%;
        }

            #TopNavM ul li.current-menu-item {
                background: #ddd;
            }

            #TopNavM ul li a:hover {
                background-color: lightsalmon;
            }

        #TopNavM ul ul {
  
            padding: 0;
            margin-left: 20px;
            border: 1px solid lightblue;
                 position: relative;    
        }
    #TopNavM a {
    width:100%;
    
    
    }
            #TopNavM ul ul ul {
   
                margin-left:20px;  
                 position: relative; 
              border: 1px solid lightblue;
           
               /*display:inline-block;*/
          }

           

            #TopNavM ul ul a {   
                padding: 10px 10px;
            }

        /*#TopNavM ul li:hover > ul {
            display: block;
        }*/

 