<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="currentDB" connectionString="Production" />
    
    <add name="Test" connectionString="Data Source=tcDevDB01\TRLM;Initial Catalog=EPA;User ID=appUsers;PWD=appusers;Application Name=PLF" />
    <add name="Train" connectionString="Data Source=tcDevDB01\TRLM;Initial Catalog=trilliumcompanion;User ID=transport;PWD=transport;Application Name=PLF" />
    <add name="Production" connectionString="Data Source=TRLM_Companion;Initial Catalog=trilliumcompanion;User ID=transport;PWD=transport;Application Name=PLF" />
     <add name="LDAP" connectionString="LDAP://tcdsb.org/DC=tcdsb,DC=org" />
    <add name="ADConnectionString" connectionString="LDAP://cec.tcdsb.org/CN=Users,DC=cec,DC=tcdsb,DC=org" providerName="MyADMembershipProvider" />
  </connectionStrings>

  <appSettings>
    <add key="RunningModel" value="Design" />
    <add key="SchoolSystem" value="Public" />
    <add key="Application" value="PLF" />
    <add key="ApplicationSite" value="https://webt.tcdsb.org/QA/PLF" />
    <add key="ApplicationName" value="Professional Learning Form" />
    <add key="DefaultPage" value="Page" />
    <add key="Registry" value="Registry" />
    <add key="DataSource" value="Class" />
    <add key="ReportSource" value="WebService" />

    <add key="AuthenticateService" value="http://webs/AuthenticationWS/Authenticate.asmx" />
    <add key="AuthenticateMethod" value="NameOnly" />
    <add key="SectionStartPage" value="" />
    <add key="NotCheckPage" value="" />
    <add key="NotCheckRole" value="Admin,SO,Director,Principal" />    
    <add key="SharePage" value="" />


    <add key="MessageLogin" value="Error Authenticating. Error authenticating user. Logon failure: unknown user name or bad password" />
    <add key="MessageDB" value="Error Login Database. Connect to Database failure: Login Account or Return Data Error." />
    <add key="MessageNoPermission" value="You have no permission to run this application." />




    <add key="PublishDocumentName" value="PLFDocument"/>
    <add key="SLIPHistoryPath" value="\\webt01.tcdsb.org\e$\SLIP_Publich_Documents"/>
    <add key="DocumentLink" value="https://webapp.tcdsb.org/WebDocuments/Documents/LTO/" />
    <add key="AppsInfoLink" value="http://webt01.tcdsb.org/QA/AppsInfo/Default.aspx" />
 
    
    <add key="ReportingService" value="http://WebService.tcdsb.org/ReportServer/ReportExecution2005.asmx" />
    <add key="ReportServer" value="http://WebService.tcdsb.org/ReportServer" />
    <add key="ReportFormat" value="PDF" />
    <add key="ReportPath" value="?%2fPLF_Reports%2f" />
    <add key="ReportPathWS" value="/PLF_Reports/" />
    <add key="SignoffTeacher" value="Yes" />
    <add key="WebServiceUser" value="service_cecweb" />
    <add key="WebServiceWP" value="$C3C@W3b#" />
    
    <add key="WebServiceUser1" value="mif" />
    <add key="WebServiceWP1" value="unsuccessful" />


    
    <add key="NetWorkDomain" value="cec" />
    <add key="AttachmentFolder" value="Attfiles" />
    <add key="iConFile" value="./images/" />
    <add key="TrafficLog" value="1" />
    <add key="LDAP" value="LDAP://tcdsb.org/DC=tcdsb,DC=org" />
    <add key="LDAP1" value="LDAP://10.1.0.5:389" />
    <add key="SMTPServer" value="intramail.tcdsb.org" /> 
    <add key="PLF.Generic.LIB.EducatorsList" value="EducatorsList,PLF.Generic.LIB,Version=1.0.0.0, Culture=neutral" />



    <add key="SLIPSchoolSiteUrl" value="https://www.tcdsb.org/sites/CommonData"/>
    <add key="SLIPSchoolSite" value="https://www.tcdsb.org/sites/CommonData/SchoolLearningImprovementPlan"/>
    <add key="TaxonomyClientService" value="https://www.tcdsb.org/_vti_bin/TaxonomyClientService.asmx"/>
 


    <add key="DocumentCategory" value="School Learning Improvement Plan"/>
    <add key="DocumentCategoryBrief" value="SLP"/>
    <add key="DocumentLibrary" value="SchoolLearningImprovementPlan"/>
    <add key="SPSiteUser" value="830cmt01"/>
    <add key="SPSiteUserPW" value="tcdsbcmt01"/>
    <add key="SPSiteMaxSchoolsList" value="250"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    
    <authentication mode="Forms">
      <forms loginUrl="Account/Login.aspx" name=".adAuthCookieEPA" protection="All" timeout="60" defaultUrl="Default.aspx" path="/" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

</configuration>