<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="currentDB" connectionString="Production" />

    <add name="Test" connectionString="Data Source=tcDevDB01\TRLM;Initial Catalog=EPA;User ID=appUsers;PWD=appusers;Application Name=PLF" />
    <add name="Train" connectionString="Data Source=tcDevDB01\TRLM;Initial Catalog=trilliumcompanion;User ID=transport;PWD=transport;Application Name=PLF" />
    <add name="Production" connectionString="Data Source=TRLM_Companion;Initial Catalog=trilliumcompanion;User ID=transport;PWD=transport;Application Name=PLF" />
    <add name="LDAP" connectionString="LDAP://tcdsb.org/DC=tcdsb,DC=org" />
    <add name="ADConnectionString" connectionString="LDAP://cec.tcdsb.org/CN=Users,DC=cec,DC=tcdsb,DC=org" providerName="MyADMembershipProvider" />
  </connectionStrings>

</configuration>