<!DOCTYPE html>
<html>
<head>
    <title>Annual Learning Plan Notification</title>
    <meta charset="utf-8" />
    <style>
        body {
            width: 800px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td style="width:30%">
                <img src="../images/boardlogo.GIF" />
            </td>
            <td style="width:70%">
                <h3>Annual Learning Plan Notification</h3>
            </td>
        </tr>
        <tr>
            <td colspan="2">
               {{ToName}}  ;   <br /><br />
            </td>
        </tr>
        <tr>
            <td colspan="2">

                This is a friendly reminder that your {{AppraisalYear}} Annual Learning Plan is due by {{DeadLineDate}}.  
                Please logon onto the Teacher Performance Appraisal Application. Once you have completed your ALP,      
                Please sign off the document to release it to your principal for signature.   <br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                As part of the "Teacher Performance Appraisal" process, you are requested to complete the Annual Learning Plan. <br />
                Please go to  <a href="{{WebSite}}" target="_blank">  Teacher Performance Appraisal </a> to complete the task.

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
                {{AdditionInformation}}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
                <br />
                {{SendName}}
                <br />
                {{SendDate}}
            </td>
        </tr>
        <tr><td colspan="2">
            <br />
            <br />
            {{TestEmailTo}} <br />
            {{TestEmailCC}}
            </td></tr>
    </table>

</body>
</html>



