<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataAccess.Properties.Settings>
            <setting name="DataAccess_ReportingWebService_ReportExecutionService"
                serializeAs="String">
                <value>http://webservice.tcdsb.org:80/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="DataAccess_PublishDocumentToSPSite_PublishDocToSP"
                serializeAs="String">
                <value>http://webservice.tcdsb.org/DocumentToSPSite/PublishDocToSP.asmx</value>
            </setting>
        </DataAccess.Properties.Settings>
    </applicationSettings>
</configuration>